label#avatar {
    margin-bottom: 20px;
    border: 1px dashed #DDD;
    background-size: cover;
    cursor: pointer;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    border-radius:100%;
}

label#avatar input {
    display: none;
}

label#avatar.has-avatar {
    border: 0;
}

label#avatar.has-avatar img {
    display: none;
 }

 label#indexfile {
    margin-bottom: 20px;
    border: 1px dashed #DDD;
    background-size: cover;
    cursor: pointer;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius:10px;
}