.dropdown-menu .dropdown-menu-small{
    right: 0;
    left: auto;
    margin: auto;
    list-style: none;
}
.nav-link-icon .text-center{
    cursor: pointer;
}
.navbar-expand .navbar-nav .dropdown-menu{
    overflow-y: scroll;
    max-height: 500%;
}
