label#avatar {
    margin-bottom: 20px;
    border: 1px dashed #DDD;
    background-size: cover;
    cursor: pointer;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius:30px;
}

label#avatar input {
    display: none;
}

label#avatar.has-avatar {
    border: 0;
}

label#avatar.has-avatar img {
    display: none;
 }